.cont-page-favoritos{
    position: relative;
    top: 80px;
    width: 100%;
    min-height: 90vh;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-gris);
    margin-bottom: 80px;
}

@media screen and (max-width:500px){
    .titulo-page-fav{
        font-size: 15px;
        text-align: center;
    }
}