.cont-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: rgba(234, 231, 229, 1);
}
.cont-filtros-listaProps {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: auto; /* Asegúrate de que este contenedor pueda crecer */
}
.cont-barraL {
  position: -webkit-sticky; /* Soporte para Safari */
  position: sticky;
  top: 80px; /* Ajusta este valor según la altura de la navbar */
  z-index: 100;
  align-self: flex-start; /* Para que la barra se mantenga alineada al principio */
}

.cont-listaProps {
  width: 85%;
}

@media screen and (max-width: 1200px){
  .cont-barraL{  
    width: 25%;
  }
}
@media screen and (max-width: 900px){
  .cont-barraL{  
    width: 40%;
  }
}
@media screen and (max-width: 700px){
  .cont-filtros-listaProps{
    align-items: center;
    margin-top: 30px;
  }
  .cont-filtros-listaProps{
    display: flex;
    flex-direction: column;
  }
  .cont-barraL{
    width: 95%;
  }
  .cont-listaProps{
    width: 95%;
  }
}