.contModal{
    width: 95%;
    height: 400px;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1000;
}
.cont-btn-cierra-modal{
    width: 70px;
    position: relative;
    top: 30px;
    left: 0;
    z-index: 1;
}

.btn-close-modal{
    border-radius: 50%;
    border: none;
    width: auto;
    height: auto;
    color: var(--primary-color);
    background-color: var(--color-negro-logo);
    cursor: pointer;
    font-size: 20px;
}

/* responsive */
@media screen and (max-width: 750px){
    .contModal{
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 95vh;
    }
    
}